__old_src/CriticalErrors/CriticalErrorReporting/Web References/CriticalErrorReportingTarget/CriticalErrorReportingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://MSDN.EntLib.CriticalErrors.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://MSDN.EntLib.CriticalErrors.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://MSDN.EntLib.CriticalErrors.org/">
      <s:element name="ReportCriticalError">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReportCriticalErrorResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReportCriticalErrorSoapIn">
    <wsdl:part name="parameters" element="tns:ReportCriticalError" />
  </wsdl:message>
  <wsdl:message name="ReportCriticalErrorSoapOut">
    <wsdl:part name="parameters" element="tns:ReportCriticalErrorResponse" />
  </wsdl:message>
  <wsdl:portType name="CriticalErrorReportingServiceSoap">
    <wsdl:operation name="ReportCriticalError">
      <wsdl:input message="tns:ReportCriticalErrorSoapIn" />
      <wsdl:output message="tns:ReportCriticalErrorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CriticalErrorReportingServiceSoap" type="tns:CriticalErrorReportingServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReportCriticalError">
      <soap:operation soapAction="http://MSDN.EntLib.CriticalErrors.org/ReportCriticalError" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CriticalErrorReportingServiceSoap12" type="tns:CriticalErrorReportingServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReportCriticalError">
      <soap12:operation soapAction="http://MSDN.EntLib.CriticalErrors.org/ReportCriticalError" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CriticalErrorReportingService">
    <wsdl:port name="CriticalErrorReportingServiceSoap" binding="tns:CriticalErrorReportingServiceSoap">
      <soap:address location="http://localhost:2346/CriticalErrorReportingService/CriticalErrorReportingService.asmx" />
    </wsdl:port>
    <wsdl:port name="CriticalErrorReportingServiceSoap12" binding="tns:CriticalErrorReportingServiceSoap12">
      <soap12:address location="http://localhost:2346/CriticalErrorReportingService/CriticalErrorReportingService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>